* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    margin-bottom: 20px;
}

.container2 .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container, .container2 {
    max-width: 1200px;
    margin: auto;
}

.box1, .box2, .box3, .box4, .box5, .leftbox, .rightbox {
    width: 100%;
    height: 300px;
}

.box1 { background-color: red; }

.box2 { background-color: green; }

.box3 { background-color: blue; }

.box4 { background-color: coral; }

.box5 { background-color: darkgoldenrod; }

.container2 {
    overflow: hidden;
}

.leftbox {
    background-color: dodgerblue;
}

.rightbox {
    background-color: darkorange;
}











